.bundle
.#*
/.rake_tasks*
parsers/*/data
parsers/*/data.bak
parsers/*/debug*
parsers/*/cookie.txt
parsers/*/*.yml
parsers/cookie.txt
parsers/events_details.yml
parsers/places.yml
*/**/cookie*
.emacs*
log/
tmp/
.git
