config/config.yml
.bundle
.#*
/.rake_tasks*
imported_data/*
parsers/*/data
parsers/*/data.bak
parsers/*/debug*
parsers/*/cookie.txt
parsers/*/*.yml
parsers/cookie.txt
parsers/events_details.yml
parsers/places.yml
log/
tmp/
Gemfile.lock
