config/config.yml
public/system
public/rotator.min.js
.bundle
.#*
/.rake_tasks*
parsers/*/data
log/
tmp/
Gemfile.lock
parsers/*/cookie.txt
parsers/*/*.yml
/parsers/cookie.txt
/parsers/events_details.yml
/parsers/places.yml
